.menu {
    float: left;
    width: 1000px;
    margin-left: 530px;
    height: 390px;
    margin-top: 0px;
    padding-top: 0px;


    

    

    


}

.h1{
    margin-top: 40px;
    border-radius: 30px;
    background-color: brown;
    width: 298px;

}

.h2{
    margin-top: 20px;
    border-radius: 30px;
    background-color: brown;
    width: 240px;

}

.af {

    text-align: center;
    margin-left: 1000px;

}

body {

    background-color: bisque;
    

    
}

.trf {
    

    

}

.t1 {


}

.t2{
    margin-top: 10px;

}

.b1 {
    float: left;
    
    margin-top: 0px;

}
.b2{
    float: left;
    
    margin-top: 0px;
    margin-left: 19px;

}

.b3{
    float: left;
    
    margin-top: 0px;
    margin-left: 25px;

}

.ana {
   margin-top: 0px ;
   
}

   

